<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
	<Product Id="*" Name="AbuseIPDBCacheComponent" Language="1033" Version="1.0.0.1" Manufacturer="kimboslice99" UpgradeCode="c1d9914b-4231-4b3f-83f3-c5221c39dfc8">
		<Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

		<?if $(sys.BUILDARCH) = x64 ?>
		<?define Win64 = "yes" ?>
		<?else ?>
		<?define Win64 = "no" ?>
		<?endif ?>

		<Condition Message="This application is already installed.">
			NOT Installed OR REMOVE="ALL"
		</Condition>

		<MajorUpgrade AllowSameVersionUpgrades="no" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

		<Media Id="1" Cabinet="cab1.cab" EmbedCab="yes" />
		
		<Condition Message="64-bit operating system detected, please use the 64-bit installer.">
			<?if $(var.Win64) = "yes" ?>
			VersionNT64
			<?else ?>
			NOT VersionNT64
			<?endif ?>
		</Condition>

		<Feature Id="ProductFeature" Title="installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<?if $(var.Win64) = "yes" ?>
			<Directory Id="ProgramFiles64Folder">
				<Directory Id="INSTALLFOLDER" Name="AbuseIPDBCacheComponent">
					<Directory Id="X64FOLDER" Name="x64" />
					<Directory Id="X86FOLDER" Name="x86" />
				</Directory>
			</Directory>
			<?else ?>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="AbuseIPDBCacheComponent">
					<Directory Id="X86FOLDER" Name="x86" />
				</Directory>
			</Directory>
			<?endif ?>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<ComponentRef Id="AbuseIPDBCacheComponent" />

			<?if $(var.Win64) = "yes" ?>
			<ComponentRef Id="x64sqlite" />
			<?endif ?>
			<ComponentRef Id="x86sqlite" />
		</ComponentGroup>
	</Fragment>

	<Fragment>
		<?if $(var.Win64) = "yes" ?>
		<DirectoryRef Id="X64FOLDER">
			<Component Id="x64sqlite" Guid="C1262FEC-C6EF-4C95-A640-0BE139AE9E84">
				<File Id="x64SQLite.Interop.dll" Source="..\bin\$(var.Configuration)\x64\SQLite.Interop.dll" Checksum="yes" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<?endif ?>

		<DirectoryRef Id="X86FOLDER">
			<Component Id="x86sqlite" Guid="058614D7-CBD1-483B-AD4E-317A4BD49188">
				<File Id="x86SQLite.Interop.dll" Source="..\bin\$(var.Configuration)\x86\SQLite.Interop.dll" Checksum="yes" KeyPath="yes" />
			</Component>
		</DirectoryRef>
		<DirectoryRef Id="INSTALLFOLDER">
			<Component Id="AbuseIPDBCacheComponent" Guid="8A060CC9-0A53-4C8A-855E-1351F8ACA9B1">
				<!-- I used 'heat.exe file AbuseIPDBCacheComponent.dll -out AbuseIPDBCacheComponent.wxs' to generate this, then manually added the nodes for x86 -->
				<Class Id="{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}" Context="InprocServer32" Description="AbuseIPDBCacheComponent.AbuseIPDBClient" ThreadingModel="both" ForeignServer="mscoree.dll">
					<ProgId Id="AbuseIPDBCacheComponent.AbuseIPDBClient" Description="AbuseIPDBCacheComponent.AbuseIPDBClient" />
				</Class>
				<File Id="filD08562EB0010707A31998B46B550ADBD" KeyPath="yes" Source="..\bin\$(var.Configuration)\AbuseIPDBCacheComponent.dll" Checksum="yes" />
				<!-- Registry keys. Seems heat generated far too much -->
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32\1.0.0.1" Name="Class" Value="AbuseIPDBCacheComponent.AbuseIPDBClient" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32\1.0.0.1" Name="Assembly" Value="AbuseIPDBCacheComponent, Version=1.0.0.1, Culture=neutral, PublicKeyToken=e996cd4ebdc98e78" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32\1.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32\1.0.0.1" Name="CodeBase" Value="file:///[#filD08562EB0010707A31998B46B550ADBD]" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32" Name="Class" Value="AbuseIPDBCacheComponent.AbuseIPDBClient" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32" Name="Assembly" Value="AbuseIPDBCacheComponent, Version=1.0.0.1, Culture=neutral, PublicKeyToken=e996cd4ebdc98e78" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32" Name="CodeBase" Value="file:///[#filD08562EB0010707A31998B46B550ADBD]" Type="string" Action="write" />
				<!-- For the component to register in dcomcnfg -->
				<RegistryValue Root="HKCR" Key="AppID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}" Value="AbuseIPDBCacheComponent" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="AppID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}" Name="DllSurrogate" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\AppID" Value="{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}" Type="string" Action="write" />
				<?if $(var.Win64) = "yes" ?>
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32\1.0.0.1" Name="Class" Value="AbuseIPDBCacheComponent.AbuseIPDBClient" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32\1.0.0.1" Name="Assembly" Value="AbuseIPDBCacheComponent, Version=1.0.0.1, Culture=neutral, PublicKeyToken=e996cd4ebdc98e78" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32\1.0.0.1" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32\1.0.0.1" Name="CodeBase" Value="file:///[#filD08562EB0010707A31998B46B550ADBD]" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32" Name="Class" Value="AbuseIPDBCacheComponent.AbuseIPDBClient" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32" Name="Assembly" Value="AbuseIPDBCacheComponent, Version=1.0.0.1, Culture=neutral, PublicKeyToken=e996cd4ebdc98e78" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
				<RegistryValue Root="HKCR" Key="WOW6432Node\CLSID\{ECED3D83-2DE5-4C53-8B57-E95C6D90422D}\InprocServer32" Name="CodeBase" Value="file:///[#filD08562EB0010707A31998B46B550ADBD]" Type="string" Action="write" />
				<?endif ?>
				<!-- Files -->
				<File Id="bindingRedirects.config" Source="..\bindingRedirects.config" />
				<File Id="AbuseIPDBCacheComponent.dll.config" Source="..\bin\$(var.Configuration)\AbuseIPDBCacheComponent.dll.config" Checksum="yes" />
				<File Id="AbuseIPDBCacheComponent.pdb" Source="..\bin\$(var.Configuration)\AbuseIPDBCacheComponent.pdb" Checksum="yes" />
				<File Id="Microsoft.Bcl.AsyncInterfaces.dll" Source="..\bin\$(var.Configuration)\Microsoft.Bcl.AsyncInterfaces.dll" Checksum="yes" />
				<File Id="Microsoft.Bcl.AsyncInterfaces.xml" Source="..\bin\$(var.Configuration)\Microsoft.Bcl.AsyncInterfaces.xml" Checksum="yes" />
				<File Id="Newtonsoft.Json.dll" Source="..\bin\$(var.Configuration)\Newtonsoft.Json.dll" Checksum="yes" />
				<File Id="Newtonsoft.Json.xml" Source="..\bin\$(var.Configuration)\Newtonsoft.Json.xml" Checksum="yes" />
				<File Id="System.Buffers.dll" Source="..\bin\$(var.Configuration)\System.Buffers.dll" Checksum="yes" />
				<File Id="System.Buffers.xml" Source="..\bin\$(var.Configuration)\System.Buffers.xml" Checksum="yes" />
				<File Id="System.Data.SQLite.dll" Source="..\bin\$(var.Configuration)\System.Data.SQLite.dll" Checksum="yes" />
				<File Id="System.Data.SQLite.Linq.dll" Source="..\bin\$(var.Configuration)\System.Data.SQLite.Linq.dll" Checksum="yes" />
				<File Id="System.Data.SQLite.xml" Source="..\bin\$(var.Configuration)\System.Data.SQLite.xml" Checksum="yes" />
				<File Id="System.Memory.dll" Source="..\bin\$(var.Configuration)\System.Memory.dll" Checksum="yes" />
				<File Id="System.Memory.xml" Source="..\bin\$(var.Configuration)\System.Memory.xml" Checksum="yes" />
				<File Id="System.Numerics.Vectors.dll" Source="..\bin\$(var.Configuration)\System.Numerics.Vectors.dll" Checksum="yes" />
				<File Id="System.Numerics.Vectors.xml" Source="..\bin\$(var.Configuration)\System.Numerics.Vectors.xml" Checksum="yes" />
				<File Id="System.Runtime.CompilerServices.Unsafe.dll" Source="..\bin\$(var.Configuration)\System.Runtime.CompilerServices.Unsafe.dll" Checksum="yes" />
				<File Id="System.Runtime.CompilerServices.Unsafe.xml" Source="..\bin\$(var.Configuration)\System.Runtime.CompilerServices.Unsafe.xml" Checksum="yes" />
				<File Id="System.Text.Encodings.Web.dll" Source="..\bin\$(var.Configuration)\System.Text.Encodings.Web.dll" Checksum="yes" />
				<File Id="System.Text.Encodings.Web.xml" Source="..\bin\$(var.Configuration)\System.Text.Encodings.Web.xml" Checksum="yes" />
				<File Id="System.Text.Json.dll" Source="..\bin\$(var.Configuration)\System.Text.Json.dll" Checksum="yes" />
				<File Id="System.Text.Json.xml" Source="..\bin\$(var.Configuration)\System.Text.Json.xml" Checksum="yes" />
				<File Id="System.Threading.Tasks.Extensions.dll" Source="..\bin\$(var.Configuration)\System.Threading.Tasks.Extensions.dll" Checksum="yes" />
				<File Id="System.Threading.Tasks.Extensions.xml" Source="..\bin\$(var.Configuration)\System.Threading.Tasks.Extensions.xml" Checksum="yes" />
				<File Id="System.ValueTuple.dll" Source="..\bin\$(var.Configuration)\System.ValueTuple.dll" Checksum="yes" />
				<File Id="System.ValueTuple.xml" Source="..\bin\$(var.Configuration)\System.ValueTuple.xml" Checksum="yes" />
			</Component>
		</DirectoryRef>
	</Fragment>
</Wix>
